<content for="content">
        <div class="bg-light">
            <header class="pt-4" id="hero">
                <div class="d-none d-lg-block">
                    <div class="hero-image_cover opacity-40">
                        <img data-db-localized-src="HERO_IMAGE" src="images/slide_02.jpg">
                    </div>
                </div>

            <div class="position-relative container pb-5">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left">
                        <div class="mb-4 animate__animated animate__fadeInDown">
                            <div class="mt-4 col-12">
                                <div class="row align-items-center">
                                    <img src="https://cdn.databowlpages.com/assets/3e7bf54c-6efd-4595-9ff3-09e31aa85141.png" class="pl-0 col-6 col-md-9 col-lg-7 mx-auto mx-md-0">
                                </div>
                            </div>
                        </div>
                        <div class="animate__animated animate__fadeInDown">
                            <h1 class="font-weight-bolder" data-db-localized-content="HERO_TITLE_2">Ti sfidiamo a trovare un affare migliore!</h1>
                            <hr a="" class="w-25 mx-auto mx-md-0  border-primary border-x4 rounded-lg">
                            <div class="animate__animated animate__fadeIn animate__delay-05s">
                                <h4 class="text-center text-md-left mb-md-4 text-justify" data-db-localized-content="HERO_INTRO">Al passaggio riceverai in regalo un kit gratuito di lampadine LED</h4>
                                <h4 class="text-center text-md-left mb-md-4 text-justify" data-db-localized-content="HERO_INTRO">Compila il modulo, ci vogliono pochi secondi. Ti contatteremo al più presto per trovare insieme un'offerta più conveniente per le tue esigenze.</h4>
                                <div class="d-none d-md-block">
                                    <section id="benefits" class="text-center text-md-left pb-4 pt-lg-0 pt-5">
                                        <div class="container py-3">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12 mb-0 px-0">
                                                    <p class="mb-0">
                                                        <span class="fa-stack small">
                                                            <i class="fa fa-circle text-secondary fa-stack-2x"></i>
                                                            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span class="ml-1 lead" data-db-localized-content="BENEFITS_4_TITLE">Servizio eccellente</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-12 mb-0 px-0">
                                                    <p class="mb-0">
                                                        <span class="fa-stack small">
                                                            <i class="fa fa-circle text-secondary fa-stack-2x"></i>
                                                            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span class="ml-1 lead" data-db-localized-content="BENEFITS_5_TITLE">Energia pulita da fonti rinnovabili</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-12 mb-0 px-0">
                                                    <p class="mb-0">
                                                        <span class="fa-stack small">
                                                            <i class="fa fa-circle text-secondary fa-stack-2x"></i>
                                                            <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                        <span class="ml-1 lead" data-db-localized-content="BENEFITS_6_TITLE">Prezzi competitivi</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="row justify-content-md-start justify-content-center">
                                        <div class="col-sm-12 col-md-10 p-0 text-center">
                                            <div class="testimonial-wrapper">
                                                <div class="testimonial px-5">
                                                    <div class="text-small">
                                                        <i class="fa-star fa text-warning"></i>
                                                        <i class="fa-star fa text-warning"></i>
                                                        <i class="fa-star fa text-warning"></i>
                                                        <i class="fa-star fa text-warning"></i>
                                                        <i class="fa-star fa text-warning"></i>
                                                    </div>
                                                    <div class="mt-3">
                                                    Ottima offerta,prezzi giusti,trasparenza e chiarezza nelle fatture oltre che nel fornire informazioni e chiarimenti!! Da consigliare a chi vuole ricevere un ottimo servizio!!
                                                    </div>
                                                    <div class="name mt-4">
                                                        <div class="h6 mt-1 mb-0">Federico Pazienza</div>
                                                    </div>
                                                    <div class="details">
                                                        Revisore Facebook
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-11 col-md-6 col-lg-4 offset-lg-1 mt-5 pt-md-2">
                        <div class="rounded-lg shadow">
                            <div class="p-4 mb-0 bg-primary rounded-top text-center shadow">
                                <h3 class="text-uppercase mb-0">Inizia subito il tuo passaggio!</h3>
                            </div>
                            <div class="bg-white p-4 rounded-bottom">
                                <form action="./thank-you.html" id="mainform" class="form set-form-cookie form-multistep form-sideform text-center text-md-left multistepform animate__animated animate__fadeIn animate__delay-05s" method="get" novalidate="novalidate">
                                    <fieldset>
                                        <div class="fieldset currentstep animate__animated">
                                            <div class="form TwoColInput custom-control-input-wrapper">
                                                <field-yield class="form-group-row" data-field="F_529_SMARTMETER"></field-yield>
                                            </div>
                                            <div class="form text-left custom-control-input-wrapper smaller-row">
                                                <field-yield class="form-group-row" data-field="F_530_ENERGYBILLS"></field-yield>
                                            </div>
                                            <div class="form text-left custom-control-input-wrapper smaller-row">
                                                <div class="form text-left smaller-row">
                                                    <field-yield class="form-group-row" data-field="F_531_ENERGYSUPPLIER"></field-yield>
                                                </div>
                                            </div>
                                            <div class="form-row align-items-end">
                                                <div class="col">
                                                   <field-yield class="form-group-row" data-field="F_9_TOWNCITY"></field-yield>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center text-center">
                                                <div class="col-10 next-wrapper">
                                                    <button type="button" class="btn btn-block btn-secondary btn-lg btn-next" data-db-localized-content="FORM_NEXT">Ottieni un affare migliore <i class="fa fa-angle-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <div class="fieldset animate__animated" style="display:none;">
                                        <h2 class="h5 mb-5 mt-4" data-db-localized-content="FORM_STEP6_TITLE">I tuoi dati di contatto</h2>
                                        <div class="form material smaller-row">
                                            <field-yield class="form-group-row label-animate" data-field="F_3_FIRSTNAME"></field-yield>
                                            <field-yield class="form-group-row label-animate" data-field="F_4_LASTNAME"></field-yield>
                                            <field-yield class="form-group-row label-animate" data-field="F_12_PHONE1"></field-yield>
                                            <field-yield class="form-group-row label-animate" data-field="F_1_EMAIL"></field-yield>
                                        </div>
                                        <div class="row justify-content-center text-center smaller-row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-block btn-secondary btn-lg btn-next" data-db-localized-content="FORM_SUBMIT">Ottieni il tuo preventivo</button>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn text-dark btn-link btn-sm btn-block btn-previous" data-db-localized-content="FORM_PREV">Precedente</button>
                                            </div>
                                            <div class="col-12">
                                                <div class="small">
                                                    <p>
                                                    <span data-db-localized-content="FORM_TANDCS2">Inviando i tuoi dati al sito confermi di avere pi&ugrave; di 18 anni, responsabile del pagamento delle bollette energetiche e accetti una chiamata e un SMS da uno dei nostri fornitori di energia preferiti. I tuoi dati saranno trattati in conformit&agrave; con la nostra <a href="./privacy.html" target="_blank">politica sulla privacy.</a>.</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-header px-5 text-center mt-5">
                                        <div class="form-multistep_progress mt-5" data-progress-type="number">
                                            <div class="progress my-4">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                    



</fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="d-block d-md-none animate__animated animate__fadeIn animate__delay-05s text-center ">
                        <section id="benefits" class="text-center text-md-left pb-4 pt-lg-0 pt-5">
                            <p>Compila il modulo, impiega 20 secondi, ricevi una chiamata per vedere se puoi ottenere un'offerta migliore</p>
                            <div class="container py-3">
                                <div class="row justify-content-center">
                                    <div class="col-md-12 mb-0 px-0">
                                        <p class="mb-0">
                                            <span class="fa-stack small">
                                                <i class="fa fa-circle text-secondary fa-stack-2x"></i>
                                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="ml-1 lead" data-db-localized-content="BENEFITS_4_TITLE">Servizio eccellente</span>
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-0 px-0">
                                        <p class="mb-0">
                                            <span class="fa-stack small">
                                                <i class="fa fa-circle text-secondary fa-stack-2x"></i>
                                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="ml-1 lead" data-db-localized-content="BENEFITS_5_TITLE">energia pulita</span>
                                        </p>
                                    </div>
                                    <div class="col-md-12 mb-0 px-0">
                                        <p class="mb-0">
                                            <span class="fa-stack small">
                                                <i class="fa fa-circle text-secondary fa-stack-2x"></i>
                                                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="ml-1 lead" data-db-localized-content="BENEFITS_6_TITLE">costi competitivi</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="row justify-content-md-start justify-content-center">
                            <div class="col-sm-12 col-md-10 p-0 text-center">
                                <div class="testimonial-wrapper">
                                    <div class="testimonial px-5">
                                        <div class="text-small">
                                            <i class="fa-star fa text-warning"></i>
                                            <i class="fa-star fa text-warning"></i>
                                            <i class="fa-star fa text-warning"></i>
                                            <i class="fa-star fa text-warning"></i>
                                            <i class="fa-star fa text-warning"></i>
                                        </div>
                                        <div class="mt-3">
                                            Ottima offerta,prezzi giusti,trasparenza e chiarezza nelle fatture oltre che nel fornire informazioni e chiarimenti!! Da consigliare a chi vuole ricevere un ottimo servizio!!
                                        </div>
                                        <div class="name mt-4">
                                            <div class="h6 mt-1 mb-0">Federico Pazienza</div>
                                        </div>
                                        <div class="details">
                                            Revisore Facebook
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </header>
        </div>
        <section>
            <div class="container text-center pt-5 mt-lg-5">
                <h2 class="h2 text-primary mb-5">Soluzioni energetiche innovative</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-4 col-lg-3">
                                <div class="mb-4">
                                    <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/02/icon_boxes_02.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-12">
                                <h4>Energia pulita</h4>
                                <p>Tutte le nostre offerte hanno a cuore l'ambiente. Scopri come l'energia verde da pi&ugrave; potenza alla tua vita e al tuo lavoro.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-4 col-lg-3">
                                <div class="mb-4">
                                    <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/03/icon_img_02.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-12">
                                <h4>Energia intelligente</h4>
                                <p>Ognuno di noi ha esigenze diverse. Per questo proponiamo sempre soluzione personalizzate per garantire qualit&agrave; e convenienza.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row justify-content-center">
                            <div class="col-4 col-lg-3">
                                <div class="mb-4">
                                    <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/02/icon_boxes_03.png" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-12">
                                <h4>Innovazione</h4>
                                <p>Monitoriamo il mercato nella continua ricerca delle innovazioni che cambieranno il futuro per offrire solo il meglio ai nostri clienti.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mt-5">
            <div class="row justify-content-center my-5 pt-lg-5 text-center">
                <div class="col-sm-12 col-lg-8">
                    <h4 class="text-secondary">SIAMO AL TUO FIANCO</h4>
                    <h3>Trova il piano migliore <strong>per te</strong></h3>
                    <p>Ogni casa ha esigenze diverse. Per questo <strong>Futura Energie</strong> offre un ventaglio di scelte per garantirti sempre la massima convenienza. Chiamaci, ti aiuteremo a scegliere.</p>
            </div>
        </div>
        </section>
        <section class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row ">
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-2">
                                    <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/04/icon_boxes_41.png" class="img-fluid" alt="">
                                </div>
                            <div class="col-10">
                                <h4 class="h5">Futura Fix Mono</h4>
                                <p>&Egrave; il piano che assicura un prezzo fisso per kWh. Nessuna differenza per fascia oraria, il costo &egrave; sempre lo stesso, tutto il giorno.</p>
                            </div>
                        </div>
                    </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="row">
                        <div class="col-2">
                            <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/03/icon_boxes_23.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-10">
                            <h4 class="h5">Futura Fix Agile</h4>
                            <p>Pensato per chi &egrave; in casa in fasce orarie specifiche, Futura Fix Agile ha prezzi diversi a seconda delle ore del giorno.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="row">
                        <div class="col-2">
                            <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/04/icon_boxes_40.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-10">
                            <h4 class="h5">Futura Pun</h4>
                            <p>Futura Pun &egrave; il piano che ti permette di pagare la corrente elettrica in base ai prezzi del mercato all'ingrosso sommati a uno spread fisso.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="row">
                        <div class="col-2">
                            <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/03/icon_img_01.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-10">
                            <h4 class="h5">Che cos'&egrave; lo SPREAD?</h4>
                            <p>Lo SPREAD &egrave; il costo fisso di 0,00xxx&euro; che viene sommato al costo della corrente all'ingrosso ad ogni kWh consumato.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="row">
                        <div class="col-2">
                            <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/03/icon_boxes_22.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-10">
                            <h4 class="h5">Domenica e festivit&agrave;</h4>
                            <p>Per le festivit&agrave; nazionali e la domenica la tariffa applicata &egrave; quella F3, ovvero quella della fascia oraria dalle 23:00 alle 7:00</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="row">
                        <div class="col-2">
                                <img src="https://usercontent.one/wp/www.futuraenergie.it/wp-content/uploads/2018/04/icon_boxes_39.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-10">
                                <h4 class="h5">Cos'&egrave; il PUN?</h4>
                                <p>Il PUN &egrave; il prezzo dell'energia elettrica del mercato all'ingrosso al quale si somma lo SPREAD per avere il costo a kWh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</content>