{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}
<div class="container margStart">
    <div class="row ">
       <div class="col">
    <h1 class="text-center h5">POLITICA DI PROTEZIONE PER LA RACCOLTA E USO DEI
DATI PERSONALI
</h1>
        <h4 class="h6 mt-1">1. Titolare del trattamento</h4>
            <p class="legal-text">Le informazioni raccolte sono trattate elettronicamente sotto la responsabilità di InCall S.r.l. con sede in Via Rovereto, 7 00198 ROMA, Partita Iva: 14388781008.
</p>
            <p class="legal-text">I partner di InCall S.r.l., sono Titolari autonomi del trattamento dei tuoi dati se acconsentirai alla comunicazione degli stessi per essere destinatario delle loro newsletter e/o delle loro offerte commerciali, così come indicato ai punti 3 e 4 della presente informativa.
In ogni caso, InCall S.r.l. non potrà essere ritenuta responsabile per il trattamento effettuato da questi partner.
</p>
            <p class="legal-text">I dati conferiti per le finalità indicate, verranno trattati, unicamente attraverso l'ausilio di mezzi elettronici, dotati di appropriate misure dirette a garantire la sicurezza sotto il profilo della segretezza, disponibilità e integrità dei dati.<br> 
Potranno avere accesso ai dati dipendenti del titolare del trattamento i quali, in qualità di addetti al trattamento, saranno dotati di appropriata autorizzazione.
</p>

        <h2 class="h6 mt-1">2. I dati personali che possono essere raccolti sul sito sono:</h2>
            <p class="legal-text">Durante la navigazione e/o iscrizione su uno dei nostri siti puoi fornisci volontariamente dei dati personali quali:
    </p>
    <ul class="legal-text dotted-list" >
        <li>Dati di identificazione*: nome, cognome, data di nascita, sesso, e-mail, indirizzo postale, numero di telefono.</li>
        <li>Dati relativi alla vita personale: abitudini di vita, situazione familiare, stato civile, ecc.
</li>
        <li>Informazioni economico-finanziarie: situazione patrimoniale, reddito, Crediti e/o debiti in corso ecc.
</li>
<li>Dati di connessione: indirizzo IP, registri, ecc.</li>
    </ul>
            <p class="legal-text">I campi con un asterisco (*) sono obbligatori, se non sono stati compilati la tua richiesta non sarà trattata da InCall S.r.l. e/o dai suoi partner.
<br>NON VERRANNO RICHIESTI DATI SENSIBILI (orientamento religioso, salute, opinioni politiche).

    </p>
        <h2 class="h6 mt-1">3. Scopo del trattamento cui sono destinati i dati personali</h4>
            <p class="legal-text">Durante la navigazione e/o iscrizione su uno dei nostri siti puoi fornirci volontariamente i tuoi dati personali che possono essere da noi raccolti ed utilizzati ai sensi degli Art. 13 e 6, lett. A Reg. EU 679/2016, per l’espletamento dell’attività concorsuale nonché per finalità di marketing (previo consenso espresso dell’Interessato).
    </p>
              <p class="legal-text">In caso di registrazione, i tuoi dati verranno trattati per la gestione della tua partecipazione al concorso a premi, la gestione delle tue richieste e/o ogni trattamento necessario all'erogazione del servizio richiesto.
    </p>
     <p class="legal-text">In caso di tuo espresso consenso, i tuoi dati potranno essere trasmessi e/o messi a disposizione da InCall S.r.l. ai suoi partner o collaboratori indicati nel punto 4 della presente informativa affinché questi ultimi possano utilizzarli per inviarti newsletter e/o comunicazioni promozionali via e-mail, SMS, MMS, per posta o telemarketing sui propri prodotti e/o servizi.
    </p>
     <p class="legal-text">La base legale per il trattamento sopra indicato è il consenso. Puoi in qualsiasi momento e senza incorrere in spese, revocare il tuo consenso facendo clic sul relativo link per la revoca presente in ciascuna delle comunicazioni marketing e/o newsletter o contattando direttamente InCall S.r.l., i suoi partner e/o collaboratori.
    </p>
     <p class="legal-text">L'eventuale rifiuto di conferire i tuoi dati personali comporta: 
    </p>
     <p class="legal-text">
         - nel caso del trattamento necessario all'erogazione del servizio e alla partecipazione al concorso a premi, l'impossibilità di usufruire dei servizi offerti dal portale e/o di partecipare al concorso a premi.
    </p>
     <p class="legal-text">
         La tua partecipazione al concorso non implica necessariamente l’accettazione alla ricezione delle offerte commerciali.
    </p>
     <p class="legal-text">
         nel caso della comunicazione dei tuoi dati personali ai partner, non costituisce pregiudizio all'iscrizione al concorso e non comporta alcuna conseguenza sui rapporti giuridici in essere ovvero in corso di costituzione, ma preclude la possibilità di svolgere attività di informazione e di promozione di eventuali altre iniziative nei confronti dell’interessato da parte dei partner di InCall S.r.l.. In tal caso, i tuoi dati verranno trattati esclusivamente da InCall S.r.l. per la tua partecipazione al concorso, la gestione della registrazione e/o ogni altro trattamento necessario all'erogazione del servizio richiesto.
    </p>
        <h4 class="h6 mt-1">4. Destinatari o categorie di destinatari di dati personali</h4>
            <p class="legal-text">I destinatari dei dati personali raccolti in fase di registrazione al sito sono InCall Srl, e se hai rilasciato il consenso, tutti o parte dei seguenti <a href="parteners.html">partners</a> titolari autonomi del trattamento o soggetti terzi per il loro marketing diretto.</p>
            <p class="legal-text">I soggetti terzi appartengono alle categorie merceologiche sottoindicate:</p>
                <ul class="legal-text">
                    <li>Vendita diretta</li>
                    <li>assicurazione</li>
                    <li>Telecomunicazioni</li>
                    <li>ONG</li>
                    <li>automotive</li>
                    <li>finanza</li>
                    <li>Settore fornitura energetica</li>
                    <li>Servizi e prodotti per animali domestici</li>
                    <li>Prodotti di largo consumo</li>
                    <li>Arte, Artigianato</li>
                     <li>Editoria</li>
                    <li>Servizi</li>
                </ul>
                <p class="legal-text">I dati raccolti possono essere trasmessi a società subappaltatrici, responsabili del trattamento, alle quali il titolare del trattamento, può ricorrere nell’esecuzione dei servizi. Il titolare del trattamento garantisce la conformità con i requisiti di protezione dei dati per tutte le sue società responsabili.</p>
                <p class="legal-text">Durante la navigazione sul sito, possono inoltre essere presenti annunci pubblicitari, sotto forma di domande o piccoli sondaggi, chiamati co-registrazioni. I Partners destinatari dei dati personali relativamente alle co-registrazioni saranno presenti sulla stessa pagina di quest’ultime.</p>
                <h4 class="h6">5.Trasferimento dei dati</h4>
                    <p class="legal-text">I dati di natura personale sono conservati all’interno dell’Unione Europea.
                    </p>
                    <p class="legal-text">Alcuni dei partner elencati all’art. 4 possono trovarsi al di fuori dell’Unione Europea. In questo caso, tuttavia, è possibile effettuare un trasferimento sicuro dei dati ai sensi dell’art. 44 del Reg. EU 679/2016.
                    </p>
                    <p class="legal-text">Pertanto, tutti i trasferimenti vengono effettuati a destinatari localizzati:
                    </p>
                    <ul class="legal-text" >
                        <li>
                            in paesi con un livello adeguato di protezione dei dati personali secondo i criteri stabiliti dalla Commissione europea ossia soltanto se il titolare del trattamento e il responsabile del trattamento rispettano le condizioni di cui al presente capo, fatte salve le altre disposizioni del presente regolamento, così come disposto dall’art. 44 del Reg. EU 679/2016;<br>
in Paesi terzi o organizzazioni internazionali che non offrono una protezione adeguata ma verso i quali il trasferimento è regolato da clausole contrattuali tipo emanate dalla Commissione Europea o dall’adozione di norme vincolanti d’impresa (“binding corporate rules”).<br>
</li>
                    </ul>

                <h4 class="h6 mt-1">6. I diritti degli utenti</h4>
                    <p class="legal-text">
                        Ai sensi del Reg. EU 679/2016 riguardo al trattamento dei tuoi dati personali conferiti, hai diritto di:<br>
                        a) accesso;<br>
                        b) rettifica;<br>
                        c) cancellazione;<br>
                        d) portabilità;<br>
                        e) limitazione del trattamento.
                    </p>
                     <p class="legal-text">
                         Per annullare l'iscrizione al sito e/o richiedere la cancellazione dei tuoi dati personali direttamente online, puoi cliccare <a href="https://officinapremi.com/user/contact.html">qui.</a><br>
                         La revoca del consenso al trattamento dei tuoi dati personali non pregiudica la liceità dei trattamenti precedenti alla stessa.
                    </p>
                     <p class="legal-text">
                         Puoi anche richiedere la limitazione del trattamento dei dati che ti riguardano o opporti al loro trattamento. Hai il diritto di comunicare a Incall srl e/o ai suoi partner le tue preferenze in merito alla gestione dei dati personali che ti riguardano in caso di morte.
                    </p>
                     <p class="legal-text">
                         Puoi esercitare i tuoi diritti presso Incall S.r.l. via e-mail all'indirizzo contact@incallcenter.com o, se hai accettato che i tuoi dati siano comunicati ai suoi partner, direttamente presso quest’ultimi.<br>
                         Tutte le richieste devono essere accompagnate da una copia della carta di identità. 
                    </p>
                     <p class="legal-text">
                         Infine ti informiamo dell'esistenza di un elenco di opposizione al contatto telefonico «Registro pubblico delle opposizioni, su cui è possibile registrarsi qui: <a href="www.registrodelleopposizioni.it.">www.registrodelleopposizioni.it.</a><br> 
                         In caso di mancato rispetto dei tuoi diritti, puoi presentare un reclamo presso gli uffici di tutela dei consumatori o del Garante della Privacy accedendo al Sito Web <a href="www.garanteprivacy.it."> www.garanteprivacy.it.</a>                        
                    </p>
                <h4 class="h6 mt-1">7. Durata della conservazione dei dati personali</h4>
                <p class="legal-text">
                        Incall S.r.l. conserva i tuoi dati personali solo per il tempo necessario per il raggiungimento delle finalità per cui sono stati raccolti, e comunque nel rispetto della legislazione vigente.                      
                </p>
                <p class="legal-text">
                        Incall S.r.l. conserva i tuoi dati personali solo per il tempo necessario per il raggiungimento delle finalità per cui sono stati raccolti, e comunque nel rispetto della legislazione vigente.                      
                </p>
                <p class="legal-text">
                        I dati personali raccolti per partecipare al concorso saranno conservati per tutta la durata del concorso stesso e dopo la sua scadenza, per il tempo necessario alla designazione del vincitore, alla gestione dei premi e ad eventuali reclami.                      
                </p>
                <p class="legal-text">
                        I tuoi dati utilizzatiper finalità di marketing saranno conservati per una durata massima di 3 anni dall’ultimo contatto con la persona responsabile del loro trattamento.                      
                </p>
            </div>
        </div>
    </div>
    </content>

{% endblock %}
