
.formHome input{
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
}
.formHome input[type=checkbox]{
    width:20px;
    margin: 5px;

}

.imgCaroussel{
    width:100%
}

.rowProcessSection{
    align-items: center;
}

.rowHome{
    background-color:#f5f5f5;
    border-radius: 5px;
}

.icon{
    padding: 20px;
    border-radius: 50%;
    background: green;
    font-size: 24px;
    fill:white;
    color:white;
}